
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Engagement&family=Manufacturing+Consent&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Courier Prime";
}

h2 {
    font-family: "Engagement";
    color: rgb(99, 96, 99);
    position: absolute;
    margin-top: -32px;
    margin-left: 60%;

}
header {
    text-align:center;
    padding: 3% 0 0 0;
    position:relative;
    margin-bottom: 3%;
}

.btn {
    width: 200px;
    margin: 2% auto;
    border: none;
    background-color: rgb(201, 170, 239);
    padding: 18px;
    font-family: 'Courier Prime';
    font-size: large;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4%;
}

#inputNum{
    width: 8%;
    height: 44px;
    font-weight: 700;
    font-size: large;
    text-align: center;
    background-color: rgb(222, 206, 242);
    border: none;
    padding: 0.5%;
    margin-bottom: 3%;

}